<!DOCTYPE html>
<html lang="en">

{{>head}}

<body class="d-flex flex-column">
    <div class="main-container">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
            <div class="container">
                <a class="navbar-brand" href="/">Blogen</a>
            </div>
        </nav>

        <!-- DASHBOARD -->
        <header class="bg-danger text-white py-2">
            <div class="container">
                <h1>Error page</h1>
            </div>
        </header>

        <section id="page-not-found">
            <div class="container unexpected-error-page-container text-danger text-center">
                <div class="row">
                    <div class="col-md-12">
                        <i class="fas fa-exclamation-triangle fa-5x py-2"></i>
                        <p class="display-1 font-weight-bold py-2">500</p>
                        <p class="display-3 text-nowrap">Internal server error!</p>
                        <pre class="text-info">Error from server: {{errorMessage}}</pre>
                    </div>
                </div>
            </div>
        </section>

        {{>footer}}
    </div>

    {{>scripts}}

</body>
</html>