<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
        <div class="container">
            <a class="navbar-brand" href="/">Blogen</a>
        </div>            
    </nav>

    <header class="bg-primary text-white py-2">
        <div class="container">
            <h1><i class="fas fa-user"></i>  Blogen Login<h1>
        </div>
    </header>

    <!-- ACTIONS -->
    <section id="actions" class="py-4 mb-4 bg-light">
        
    </section>

    <!-- EDIT POST -->
    <section id="settings">
        <div class="container">
            <div class="row">
                {{#if errors}}
                    <div class="col-md-6 ml-auto mr-auto" id="error-message">
                        <div class="alert alert-danger alert-dismissible fade show">
                            {{errors}}
                            <button type="button" class="close" data-dismiss="alert">
                                <span>&times;</span>
                            </button>
                        </div>
                    </div>
                    <div class="w-100"></div>
                {{/if}}
                <div class="col-md-6 ml-auto mr-auto">
                    <div class="card">
                        <div class="card-header">
                            <h4>Account Login</h4>
                        </div>
                        <div class="card-body">
                            <form id="login-form" method="POST" action="/user/auth" data-parsley-validate="">
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" name="email" class="form-control"
                                        data-parsley-required="true"
                                        data-parsley-type="email">
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" class="form-control"
                                        data-parsley-required="true">
                                </div>
                                <input type="submit" class="btn btn-primary btn-block" />
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{>footer}}

    <script src="http://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>
    <script type="text/javascript" src="js/parsley.min.js"></script>

    <script>
        // Get the current year for the copyright
        $('#year').text(new Date().getFullYear());

        $(function() {
            $('#login-form').parsley({
                successClass: "has-success",
                errorClass: "has-danger",
                classHandler: function (el) {
                    return el.$element.closest('.form-group');
                },
                errorsContainer: function (el) {
                    return el.$element.closest('.form-group');
                },
                errorsWrapper: "<div class='alert alert-danger mt-2'></div>",
                errorTemplate: "<span></span>",
            });

            window.Parsley.on('field:error', function() {
                this.$element.addClass('form-control-danger')
            });

            window.Parsley.on('field:success', function() {
                this.$element.next().remove()
            });
            
            $('#login-form').on('form:validate', function(form) {
                return form.isValid()
            });
        })
    </script>
</body>
</html>