<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    {{>navbar}}

    <!-- DASHBOARD -->
    <header class="bg-primary text-white py-2">
        <div class="container">
            <h1><i class="fas fa-pencil-alt"></i> Posts <h1></h1>
        </div>
    </header>

    <!-- SEARCH -->
    <section id="search" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-12 ml-auto">
                    <form id="search-post-form" class="user-form form-inline float-sm-right" action="/user/postsearch">
                        <div class="form-group">
                            <input type="text" name="qs" id="qs" class="form-control mr-2" placeholder="Search Posts by title..." data-parsley-required="true">
                        </div>
                        <div class="btn-submit">
                            <input type="submit" id="btn-search-post" class="btn btn-primary btn-search-post" value="Search" />
                        </div>
                    </form>
                </div>
            </div>
        </div>        
    </section>

    <!-- POSTS -->
    <section id="posts">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            {{#if isSearchPage}}
                                <h4>Found {{posts.length}} results for {{searchString}}</h4>
                            {{else}}
                                <h4>Latest Posts</h4>
                            {{/if}}
                        </div>
                        <table class="table table-striped" id="posts-table">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Date</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>                                
                            </tbody>
                        </table>
                        <div class="container" id="posts-pagination" 
                            data-total-posts="{{totalPosts}}"
                            {{#if isSearchPage}}
                                data-post-search="true"
                            {{/if}}
                        >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{>footer}}

    {{>scripts}}
</body>
</html>