<!-- FOOTER -->
<footer class="bg-dark text-center text-white p-5 mt-5 fixed-bottom">
    <div class="container">
        <div>
            <p class="lead">Copyright &copy; <span id="year"></span> Blogen</p>
        </div>
    </div>
</footer>