html,
body {
    max-height: 100vh;
}

.main-container {
    overflow: auto;
    max-height: calc(100vh - 142px);
}

.form-control-danger {
    border: 1px solid #f5c6cb;
}

footer {
    height: 4vh;
}

.unexpected-error-page-container, .not-found-error-page-container {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
}